<div style="transform: translate(0px, 128px);
padding-left: 3%;">
    <div style="font-weight: bold;
    font-size: 30px;
    font-family: poppins,Helvetica,sans-serif;
    color: #2577b9;">
        About me
    </div>
    <div style="line-height: 1.65em;
    display: flex;
    padding-top: 23px;
    font-size: 17px;
    font-family: poppins,Helvetica,sans-serif;color: #ffffffbf;">
       <div style="width: 50%;">
            I am a front end developer currently working in Tata Consultancy Services and I have completed my graduation in JNTU in vizianagarm.
       </div>
       <div class="mydetailsdiv" style="padding-left: 8%;">
        <div><span>Birthday</span><span>31-07-1995</span></div>
        <div><span>Age</span><span>25</span></div>
        <div><span>Degree</span><span>Bachelor of Technology</span></div>
        <div><span>City</span><span>Hyderabad</span></div>
       </div>
    </div>
</div>