<div class="contactsdiv">
    <div><span><img src="../../assets/telephone.png" /></span><div class="detailsdiv"><span class="contactTitles">Mobile </span><span style="padding-top: 5%;color: #ffffffbf;">+91 7680007512</span></div></div>
    <div><span><img src="../../assets/email.png" /></span><div class="detailsdiv"><span class="contactTitles">Mail </span><span style="padding-top: 5%;color: #ffffffbf;">indanapraveen@gmail.com</span></div></div>
    <div><span><img src="../../assets/placeholder.png" /></span><div class="detailsdiv"><span class="contactTitles">Location </span><span style="padding-top: 5%;color: #ffffffbf;">Hyderabad</span></div></div>
</div>