<div style="background: linear-gradient(to right bottom,#0F2027,#203A43,#2C5364);height:100vh;width:100%;overflow: overlay;">

<div id="maindiv">
  <div id="smalldiv">
    <div id="circlediv">
    
    </div>

    <div id="myname">
      Indana Praveen Kumar
    </div>
    <div id="icondiv">
      <a href="https://github.com/Praveen3752" target="_blank"><img src="../assets/github (1).png" /></a>
      <a href="https://www.instagram.com/praveenkumarindana/" target="_blank"><img src="../assets/instagram (1).png" /></a>
      <a href="https://www.facebook.com/profile.php?id=100004996801013" target="_blank"><img src="../assets/facebook.png" /></a>
      <a href="https://www.linkedin.com/in/praveen-indana-584640211/" target="_blank"><img src="../assets/linkedin.png" /></a>
    </div>
    <div style="padding-top: 9px;" id="contentsdiv">
        <div routerLink='/home' class="selectedTab" (click)="changeTab($event,'home')"><span><img class="imgtag" src="../assets/home.png" /></span><span class="icontextTag">Home</span></div>
        <div routerLink='/about' (click)="changeTab($event,'about')"><span><img class="imgtag" src="../assets/info.png" /></span><span class="icontextTag">About</span></div>
        <div routerLink='/projects' (click)="changeTab($event,'projects')"><span><img class="imgtag" src="../assets/work-from-home.png" /></span><span class="icontextTag">Projects</span></div>
        <div routerLink='/contact' (click)="changeTab($event,'contact')"><span><img class="imgtag" src="../assets/mail.png" /></span><span class="icontextTag">Contact</span></div>
    </div>
  </div>
  <div id="contentdiv" style="width: 75%;border-bottom-right-radius: 18px;border-top-right-radius: 18px;" [style.background]="bgcolorvalue">
      <router-outlet></router-outlet>
  </div>
</div>

</div>

<!-- background : 2196f3d1 -->